doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title VMOL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 VMOL <h4>(e-Video Mail OnLine)</h4>
      section
        h2 Apa itu VMOL?
        ul
          li 
          li Sebuah Aplikasi pengiriman Surat/Kartu/Undangan/Advertising disertai Video berbasis Online/Mobile
          li Sebuah Generasi tren masa kini dalam pembuatan surat/kartu/undangan/Advertising

      section
        h2 Sejarah VMOL
        ul
          li
          li Dibangun oleh 2 orang : Michael(Founder) dan Septian Rahman(Co-Founder)
          li Ditemukan saat sedang berdiskusi mengenai project kolaborasi
          li Awalnya, direncanakan akan membuat Forum dengan Engine Chatting Online

      section
        h2 Mengenal VMOL
        ul
          li
          li 1. Setiap User yang merupakan member VMOL akan terbagi menjadi 2 : Paid User & Free User
          li 2. Free User : Akan diberikan format dan template design yang terbatas
          li 3. Paid User : Akan diberikan format dan template design yang banyak
          li 4. User akan diberikan pilihan untuk mau atau tidak menambahkan video ke dalam design mereka

      section
        h2 Lanjutan...
        ul
          li
          li 5. Untuk video juga terdapat pembagian pada tiap user:
            ul
              li Paid User : Limit Durasi Video tidak ada, Limit Size Upload Video tidak ada, Format Video Bebas
              li Free User : Limit Durasi Video 5 menit, Limit Size Upload Video 25 MB, Format Video Bebas
          li 6. Semua User diberikan fasilitas Chatting Online, Integrasi dengan Social App lain seperti : Instagram, Facebook, Twitter, dll

      section
        h2 ANY QUESTION?

      section
        h1 THANK YOU!!

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild